<div class="container">
    <h2>{{Title}}</h2>
    <div class="row">
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="Emp.Name" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="Emp.Email" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="Emp.Password" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="Emp.City" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="Emp.Country" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="Emp.Mobile" />
        </div>
    </div>
    <div class="row">
        <input type="submit" ng-click="SaveEmp()" name="Submit" value="Submit" class="btn btn-primary" />
    </div>



    
</div>